#bg{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

#board{
    position: center;
    min-width: 20vh;
    min-height: 20vw;
    opacity: .5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}