
body {
    background-image: url(./assets/BackgroundImage.jpg) ;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: darkcyan;
}

.parent{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    cursor: pointer;
}
.board {
    color: currentColor;
    font-size: 2em;
    opacity: .7;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: currentColor;
}
.borderRight{
    border-right: .25em solid currentColor;
    opacity: .7;
}
.borderBottom{
    border-bottom: .25em solid currentColor;
    opacity: .7;
}
#restartBtn{
    background-color: transparent;
    color: currentColor;
    border: .1em currentColor solid;
    font-size: 1em;
    padding: 10px;
}
.restartGame{
    border: .25em currentColor solid;
    padding: 10px;
    text-align: center;
    width: 25%;
}